{
  "ConnectionDefinition": {
    "url": "https://api.api-test.xtm-intl.com/rest-api",
    "client": "Blackbirdio",
    "userId": "[YOUR_USERID]",
    "password": "[YOUR_PASSWORD]"
  },
  "TestFolder": "[YOUR_TEST_FOLDER]"
}